.cart {
    width: 100%;
    margin: 5% 0;
}

.cart .container h3 {
    margin: 5% 0;
    font-size: 25px;
    font-weight: 300;
    text-align: start;
    color: var(--text-dark);
    text-decoration: underline;
    text-underline-offset: 8px;
}

