:root{
    --bg: rgba(102, 102, 237, 0.2);
    --navbar: rgba(102, 102, 237, 0.7);
    --text: rgba(53, 53, 131, 0.7);
    --border: rgb(46, 39, 108);
}

@font-face {
    font-family: "Poppins";
    font-weight: 100;
    src: url("/fonts/Poppins-Thin.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 200;
    src: url("/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: url("/fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: url("/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 800;
    src: url("/fonts/Poppins-ExtraBold.ttf");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    scroll-behavior: smooth;
    font-family: Poppins;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(
        45deg, 
        rgba(102, 102, 237, 0.2), 
        rgb(255, 255, 255),
        rgba(102, 102, 237, 0.7)
    );
    background-size: 400% 400%;
	animation: gradient 10s ease-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (min-width: 320px) {
    .container {
        max-width: 320px;
    }
}

@media (min-width: 480px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 90%;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* Navbar */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 30px 0px 20px;
    background-color: var(--navbar);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    transition: 0.3s;
}

header .container {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo a {
    color: white;
    font-size: 23px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-logo a:hover {
    color: var(--border);
    transform: scale(1.1);
}

.navbar-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 28px;
}

.navbar-icons a,
.navbar-icons li {
    color: white;
    transition: 0.4s;
}

.navbar-icons a:hover,
.navbar-icons li:hover {
    color: var(--border);
    transform: scale(1.2);
}

.navbar-icons li {
    color: white;
    cursor: pointer;
    list-style-type: none;
}

.sub-navbar {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.sub-navbar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding-inline-start: 0px;
}

.sub-navbar li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.sub-navbar li a:hover {
    color: var(--border);
    transform: 1.2;
}

.sub-navbar li a.active,
.navbar-icons .navbar-icons-active {
    color: var(--border);
}

@media (max-width: 768px) {
    header {
        padding: 30px 0px 10px;
    }

    header .container {
        gap: 30px;
    }

    .navbar-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 28px;
    }

    .sub-navbar {
        height: 35vh;
        display: flex;
        justify-content: center;
        transition: 0.5s;
    }

    .sub-navbar ul {
        flex-direction: column;
        gap: 8px;
    }

    .sub-navbar ul a {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .navbar-logo a {
        font-size: 22px;
        gap: 2px;
    }

    .navbar-icons {
        font-size: 25px;
    }
    
    .sub-navbar ul a {
        font-size: 15px;
    }
}