:root{
    --bg-light: rgba(102, 102, 237, 0.2);
    --bg: rgba(102, 102, 237, 0.5); /*deneme kalsın şimdilik*/
    --bg-dark: rgba(102, 102, 237, 0.7);

    --navbar-light: rgb(161, 169, 254);
    --navbar: rgba(102, 102, 237, 0.7);
    --navbar-dark: rgba(102, 102, 237, 1);
    
    --navbar-scroll: rgba(102, 102, 237, 1);
    
    --text-light: rgb(234, 231, 250);
    --text: rgba(53, 53, 131, 0.7);
    --text-dark: rgba(53, 53, 131, 0.9);

    --border-light: rgb(46, 39, 108);
    --border: rgb(46, 39, 108);
    --border-dark: rgb(46, 39, 108);
}

/* TODO: root colors düzenlenecek! */

@font-face {
    font-family: "Poppins";
    font-weight: 100;
    src: url("/fonts/Poppins-Thin.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 200;
    src: url("/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: url("/fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: url("/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 800;
    src: url("/fonts/Poppins-ExtraBold.ttf");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    scroll-behavior: smooth;
    font-family: Poppins;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(
        45deg, 
        /* rgba(102, 102, 237, 0.2),
        rgb(234, 231, 250),
        rgba(102, 102, 237, 0.7)  */
        rgba(102, 102, 237, 0.3),
        rgb(255, 255, 255),
        rgba(102, 102, 237, 0.9)
    );
    background-size: 400% 400%;
	animation: gradient 10s ease-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (min-width: 320px) {
    .container {
        max-width: 320px;
    }
}

@media (min-width: 480px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 90%;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* Add and disable default properties */
h1 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 50px;
}

ul {
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Navbar */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 30px 0px 20px;
    background-color: var(--navbar);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    transition: 0.3s;
}

header .container {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo a {
    color: white;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    transition: 0.5s;
}

.navbar-logo a:hover {
    color: var(--border);
    transform: scale(1.1);
}

.navbar-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 28px;
}

.navbar-icons a,
.navbar-icons li {
    color: white;
    transition: 0.4s;
}

.navbar-icons a:hover,
.navbar-icons li:hover {
    color: var(--border);
    transform: scale(1.2);
}

.navbar-icons li {
    color: white;
    cursor: pointer;
}

.sub-navbar {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.sub-navbar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 0px;
}

.sub-navbar li a {
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.sub-navbar li a:hover {
    color: var(--border);
    transform: 1.2;
}

.sub-navbar li a.active,
.navbar-icons .navbar-icons-active {
    color: var(--border);
}

/* Footer */
.footer,
.footer-top ul li a {
    color: var(--border-dark);
}

.footer-top {
    width: auto;
    position: relative;
    z-index: 50;
}

.footer-top .container {
    width: auto;
    padding: 30px 10px;
    border-radius: 25px;
    background-color: var(--navbar-light);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.footer-top ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.footer-top ul li {
    width: 30%;
}

.footer-top ion-icon {
    font-size: 25px;
}

.footer-bottom {
    color: white;
    margin-top: -40px;
    padding: 45px 0 10px;
    background-color: var(--navbar-dark);
}

/* Responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    
    /* Navbar */
    header {
        padding: 30px 0px 10px;
    }

    header .container {
        gap: 30px;
    }

    .navbar-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 28px;
    }

    .sub-navbar {
        height: 35vh;
        display: flex;
        justify-content: center;
        transition: 0.5s;
    }

    .sub-navbar ul {
        flex-direction: column;
        gap: 8px;
    }

    .sub-navbar ul a {
        font-size: 18px;
    }

    /* Footer */
    .footer {
        font-size: 15px;
    }

    .footer-top {
        width: 100%;
        position: static;
        z-index: 0;
        border-radius: 0;
        background-color: var(--navbar-light);
    }

    .footer-top .container {
        box-shadow: none;
        background-color: transparent;
    }

    .footer-top ul {
        flex-direction: column;
    }

    .footer-top ul li {
        width: 100%;
    }

    .footer-bottom {
        margin-top: 0;
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 25px;
    }

    /* Navbar */
    .navbar-logo a {
        gap: 2px;
        font-size: 22px;
        font-weight: 300;
    }

    .navbar-icons {
        font-size: 25px;
    }
    
    .sub-navbar ul a {
        font-size: 15px;
    }

    /* Footer */
    .footer-bottom {
        font-size: 14px;
    }
}