/* main {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}