/* Main Swiper */
main {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: start; /* center da olabilir */
}

.main-swiper {
    width: 100%;
    height: 80vh;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.main-swiper .swiper-slide {
    color: white;
    font-size: 30px;
    font-weight: 300;
    box-shadow: inset 0 40px 55px -15px rgba(30, 41, 59);
}

#slide1 {
    display: flex;
    align-items: center;
    background: url("/images/slide1.jpg");
    background-size: cover;
}

#slide1 p {
    background-color: var(--text);
}

#slide2 {
    display: flex;
    align-items: center;
    background: url("/images/slide2.jpg");
    background-size: cover;
}

#slide3 {
    display: flex;
    align-items: center;
    background: url("/images/slide3.jpg");
    background-size: cover;
}

#slide2 h1, 
#slide2 p,
#slide3 h1, 
#slide3 p  {
    backdrop-filter: brightness(0.65);
}

.swiper-pagination .swiper-pagination-bullet {
    padding: 6px;
    opacity: 1; 
    border-radius: 25px;  
    transition: 0.5s;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 1.9);
}

.swiper-pagination .swiper-pagination-bullet-active {
    width: 3rem;
    opacity: 1; 
    background-color: rgba(102, 102, 237, 1);
}

/* Benefits */
.benefits {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits .container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.benefits h3 {
    font-size: 30px;
    font-weight: 300;
    color: var(--border-light);
    margin-bottom: 10%;
}

.benefit-items {
    display: grid;
    grid-template-columns: 13rem 13rem 13rem 13rem; /*208px*/
    justify-content: space-between;
    font-size: 15px;
}

.benefit-item {
    font-size: 15px;
    padding: 25px 10px 20px;
    border-radius: 20px;
    color: var(--border-light);
    border: solid 1px var(--border-light);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition: 0.4s;
}

.benefit-item ion-icon {
    font-size: 20px;
}

.benefit-item:hover {
    background-color: var(--border-light);
    color: white;
    transform: scale(1.1);
}

.benefit-info {
    font-size: 25px;
    color: var(--border-light);
}

.benefit-info button {
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 15px; 
    border: solid 1px var(--border-light);
    background: var(--border-light);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); 
    transition: 0.5s;
}

.benefit-info button:hover {
    transform: scale(1.1);
    background: transparent;
    font-weight: 500;
    color: var(--border-light);
}

.benefit-info a button {
    font-weight: 500;
    font-size: 15px;
}

/* Countdown Clock */
.countdown {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}

.countdown-content {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(
        rgba(123, 0, 255, 0.2), 
        rgba(255, 255, 0, 0.2)),
        url('/images/countdown-bg.jpg');
}

.countdown-content .container {
    width: 100%;
}

.countdown-content h3 {
    font-weight: 300;
    font-size: 40px;
}

#demo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.demo-elements p {
    font-size: 30px;
    /* default p values disabled */
    margin-block-start: 0;
    margin-block-end: 0;
}

#days,
#hours,
#minutes,
#seconds {
    font-size: 50px;
    font-weight: 900;
}

.countdown-input {
    color: white;
    margin-top: 5%;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    padding: 15px 50px;
    outline: none;
    background-color: var(--navbar-scroll);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    transition: 0.5s;
}

.countdown-input::placeholder {
    color: white;
    font-size: 15px;
    text-align: center;
}

.countdown-input:hover {
    cursor: pointer;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.7);
}

/* Grid-swiper */
.popular {
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popular .container {
    width: 100%;
    text-align: start;
}

.popular-title {
    font-size: 25px;
    font-weight: 400;
    color: var(--navbar-dark);
}

.grid-swiper {
    width: 100%;
    height: 85vh; /*TODO: 85 olmuyorsa 90vh DENE!*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.grid-swiper .swiper-slide img {
    width: 200px;
    height: 35vh;
    object-fit: fill;
    transition: 0.4s;
    /*shadow-md*/
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.grid-swiper .swiper-slide img:hover {
    cursor: pointer;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.7);
}

.grid-swiper .swiper-pagination {
    margin-top: 50px !important; 
}

.grid-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    opacity: 1; 
    padding: 3px;
    border-radius: 25px;  
    transition: 0.5s;
    background-color: var(--navbar-light);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 1.9);
}

.grid-swiper .swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1; 
    background-color: rgba(102, 102, 237, 1);
}

/* Responsive */
@media screen and (max-width: 1024px) {
    /* Benefits */
    .benefits .container {
        margin-top: 20%;
        height: min-content;
    }
/* 
    .benefit-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
    } */

    .benefit-items {
        grid-template-columns: 13rem 13rem; /*208px*/
        justify-content: space-evenly;
        row-gap: 40px;
        font-size: 10px;
    }
    
    /* .benefit-item {
        border: none;
        border-radius: 0;
        box-shadow: none;
    } */
    
    .benefit-item:hover {
        background-color: inherit;
        color: inherit;
        transform: none;
    }

    .benefit-info {
        margin-top: 10%;
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    /* Main Swiper */
    .swiper-slide {
        font-size: 20px;
        text-align: start;
    } 

    #slide1 h1, 
    #slide1 p,
    #slide2 h1, 
    #slide2 p,
    #slide3 h1, 
    #slide3 p {
        background-color: transparent;
        backdrop-filter: brightness(0.75);
    }

    /* Benefits */
    .benefits h3 {
        font-size: 25px;
        margin-bottom: 10%;
    }

    .benefit-items {
        grid-template-columns: 13rem; /*208px*/
        row-gap: 25px;
        font-size: 10px;
    }

    .benefit-item ion-icon {
        font-size: 17px;
    }
}

@media screen and (max-width: 480px) {
    /* Main Swiper */
    .swiper-slide h1 {
        font-size: 25px;
    }

    .swiper-slide p {
        font-size: 20px;
    }

    /* Benefits */
    .benefit-info {
        font-size: 18px;
    }

    .benefit-info button {
        padding: 10px 20px;
    }
    
    .benefit-info button:hover {
        transform: none;
    }

    .benefit-info a button {
        font-weight: 500;
        font-size: 12px;
    }

    /* Countdown */
    .countdown-content h3 {
        font-size: 30px;
        text-align: center;
    }

    .demo-elements p {
        font-size: 20px;
    }

    #days,
    #hours,
    #minutes,
    #seconds {
        font-size: 40px;
        font-weight: 700;
    }

    .countdown-input {
        color: white;
        margin-top: 10%;
        font-size: 15px;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
    }
    
    .countdown-input::placeholder {
        font-size: 14px;
        text-align: center;
    }

    /* Grid-swiper */
    .popular {
        height: 80vh;
    }

    .popular-title {
        font-size: 20px;
    }

    .grid-swiper {
        height: 50vh;
    }
}