/* Main Swiper */
main {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: start; /* center da olabilir */
}

.main-swiper {
    width: 100%;
    height: 80vh;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.main-swiper .swiper-slide {
    color: white;
    font-size: 30px;
    font-weight: 300;
    box-shadow: inset 0 40px 55px -15px rgba(30, 41, 59);
}

#slide1 {
    display: flex;
    align-items: center;
    background: url("/images/slide1.jpg");
    background-size: cover;
}

#slide1 p {
    background-color: var(--text);
}

#slide2 {
    display: flex;
    align-items: center;
    background: url("/images/slide2.jpg");
    background-size: cover;
}

#slide3 {
    display: flex;
    align-items: center;
    background: url("/images/slide3.jpg");
    background-size: cover;
}

#slide2 h1, 
#slide2 p,
#slide3 h1, 
#slide3 p  {
    backdrop-filter: brightness(0.65);
}

.swiper-pagination .swiper-pagination-bullet {
    padding: 6px;
    opacity: 1; 
    border-radius: 25px;  
    transition: 0.5s;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 1.9);
}

.swiper-pagination .swiper-pagination-bullet-active {
    width: 3rem;
    opacity: 1; 
    background-color: rgba(102, 102, 237, 1);
}

/* Clock */
.countdown {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Grid-swiper */
.popular {
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popular .container {
    width: 100%;
    text-align: start;
}

.popular-title {
    font-size: 25px;
    font-weight: 400;
    color: var(--navbar-dark);
}

.grid-swiper {
    width: 100%;
    height: 85vh; /*TODO: 85 olmuyorsa 90vh DENE!*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.grid-swiper .swiper-slide img {
    width: 200px;
    height: 35vh;
    object-fit: fill;
    transition: 0.4s;
}

.grid-swiper .swiper-slide img:hover {
    cursor: pointer;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.7);
}

.grid-swiper .swiper-pagination {
    margin-top: 50px !important; 
}

.grid-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    opacity: 1; 
    padding: 3px;
    border-radius: 25px;  
    transition: 0.5s;
    background-color: var(--navbar-light);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 1.9);
}

.grid-swiper .swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1; 
    background-color: rgba(102, 102, 237, 1);
}

/* Responsive */
@media screen and (max-width: 768px) {
    /* Main Swiper */
    .swiper-slide {
        font-size: 20px;
        text-align: start;
    } 

    #slide1 h1, 
    #slide1 p,
    #slide2 h1, 
    #slide2 p,
    #slide3 h1, 
    #slide3 p {
        background-color: transparent;
        backdrop-filter: brightness(0.75);
    }
}

@media screen and (max-width: 480px) {
    /* Grid-swiper */
    .popular {
        height: 80vh;
    }

    .popular-title {
        font-size: 20px;
    }

    .grid-swiper {
        height: 50vh;
    }
}